*{
	box-sizing: border-box;
}

.border-bottom-black{
	border-bottom: 1px solid black !important;
	margin: 0px 3px 0px 3px;
}

#collapsable-nav{
	border: 1px solid black;
	background-color: #c8c8c8;
}

.content-background {
	background-color: #c8c8c8;
}

.content-background  .padding-around{
	padding: 1px 5px 0px 5px;
	margin: 0px 20px 20px 20px;
}

.nav-dropdown-background {
	background-color: #f8f8f8;
}

.big-black-font{
	font-size: 1.7em;
	color:black !important;
}

.border{
	border-top:1px solid black;
	border-left:1px solid black;
}